.CategoryButton {
  align-items: center;
  display: flex;
  width: auto;
}

.CategoryButton > button {
  background: white;
  border: 1px salmon solid;
  font-weight: 700;
  margin: 3px 0;
  text-align: center;
  width: 100%;
}

.CategoryButton > button:focus {
  border: none;
  font-weight: 700;
  outline: 2.5px orange solid;
  text-align: center;
  width: 100%;
}
