body {
	text-align: center;
}

.container {
  margin: 0 auto;
  width: 50%; /* Valor da Largura */
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}

.btn {
	background: #c4c4c4;
	border-radius: 4px;
	height: 45px;
	left: 15px;
	top: 79px;
	width: 102px;
}
