.Loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 25%;
  width: 100%;
}

.Loading > img {
  padding: 2%;
  width: 60%;
}
