.LowerMenu {
  background: salmon;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
}

.LowerMenu > a > button {
  background: salmon;
  outline: none;
  border: none;
}
