body {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5em;
  width: 50%;
}

.btn {
  background: #c4c4c4;
  border-radius: 4px;
  height: 45px;
  left: 15px;
  top: 79px;
  width: 102px;
}
