.SearchBar {
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
}

.SearchBar > input {
  border: 1px black solid;
  text-align: center;
}

.SearchBar > .radio-button > .rdb-input {
  display: none;
}

.SearchBar > .radio-button > label {
  border: 2px salmon solid;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 700;
  margin: 2px 4px;
  padding: 2px 10px;
}

.SearchBar > .radio-button > .rdb-input:checked + label {
  background: salmon;
  border: 2px salmon solid;
  border-radius: 4px;
  font-size: 13px;
  margin: 2px 4px;
  padding: 2px 10px;
}

@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
